@( title : String)

@main(title) {
<input id="message" type="text">
<input type="button" value="Chat" onclick="onSend()">

<hr>
<p>Chat message</p>
<ul id="received">
</ul>
<script type="text/javascript">
    const url = "ws://localhost:9000/chat/ws";
    var received = document.getElementById("received");
    var message = document.getElementById("message");
    var ws;
    // FireFox vs other browser
    if ("WebSocket" in window) {
        ws = new WebSocket(url);
    } else if ("MozWebSocket" in window) {
        ws = new MozWebSocket(url);
    }

    ws.onmessage =     function(event){
        console.log("message received : " + event.data);
        var li = document.createElement("li");
        li.innerHTML = event.data;
        received.appendChild(li);
    }

    function onSend(){
        ws.send(message.value);
        console.log("message send : " + message.value);
        message.value = "";
    }
    //
    window.onunload = function(){
        var code = 4500;
        var reason = "Disconnected";
        ws.close(code,reason);
    }
</script>
}