@(message: String)

@main("Echo") {

    <input id="message" type="text">
    <input type="button" value="Send" onclick="onSend()">

    <hr>
    <h2 id="echo"></h2>
    <script type="text/javascript">
    const url = "ws://localhost:9000/echo/ws";
    var received = document.getElementById("echo");
    var message = document.getElementById("message");
    var ws;

    if ("WebSocket" in window) {
        ws = new WebSocket(url);
    } else if ("MozWebSocket" in window) {
        ws = new MozWebSocket(url);
    }

    ws.onmessage =     function(event){
        console.log("server message : " + event.data);
        received.innerText = event.data;
    }

    function onSend(){
        ws.send(message.value);
        console.log("Send : " + message.value);
    }


    window.onunload = function(){
        var code = 4500;
        var reason = "unload";
        ws.close(code,reason);
    }
</script>
}